<?xml version="1.0" encoding="utf-8"?>
<partners>
	<partner>
		<firstName>${firstName}</firstName>
		<lastName>${lastName}</lastName>
		<email>${email.emailId}</email>
		<startdate>${startdate}</startdate>
		<addresses>
			<street>${addresses.street}</street>
			<area>${addresses.area}</area>
			<city>${addresses.city}</city>
			<state>${addresses.state}</state>
			<country>${addresses.country}</country>
			<zip>${addresses.zip}</zip>
		</addresses>
		<company>
			<name>${company.name}</name>
		</company>
		<agreementPeriod>${agreementPeriod}</agreementPeriod>
	</partner>
</partners>